<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Score</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1>Final Score</h1>
        </header>
        <div class="main-layout">
            <aside>
                <nav>
                    <ul>
                        <li><strong>Modules</strong></li>
                    </ul>
                    <ul>
                        {% for module in modules %}
                        <li><a href="{{ module.html_file }}">{{ module.name }}</a></li>
                        {% endfor %}
                        <li><a href="final-score.html" class="current">Final Score</a></li>
                        <li><a href="leaderboard.html">Leaderboard</a></li>
                    </ul>
                </nav>
            </aside>
            <main>
                <p>Congratulations, <span id="player-name-display"></span>!</p>
                <p>Your final score is: <span id="final-score"></span></p>
                <p><a href="leaderboard.html" class="button">View Leaderboard</a></p>
                <p><a href="index.html" class="button">Start New Quiz</a></p>
            </main>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>