<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Score</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <div class="header-flex">
                <h1>Final Score</h1>
                <div class="header-actions">
                    <a href="index.html" class="header-btn">Home</a>
                    <a href="leaderboard.html" class="header-btn">Leaderboard</a>
                </div>
            </div>
        </header>
        <div class="main-layout">
            <!-- Pas de menu modules sur la page final score -->
            <main>
                <p>Congratulations, <span id="player-name-display"></span>!</p>
                <p>Your final score is: <span id="final-score"></span></p>
                <p><a href="index.html" class="button">Start New Quiz</a></p>
            </main>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>