---
layout: default
---

<div class="main-layout">
    {#include partials/menu.html /}
    <main>


        <div class="levels-grid">
            {#for item in page.data.questions}
            <button class="level-btn" data-index="{item_index}" style="grid-column: {item_count.mod(5)};">
                Niveau {item_count}
            </button>
            {/for}
        </div>
        <div id="question-container" style="display:none;"></div>

        {#for item in page.data.questions}
        <div id="question-{item_index}" class="question-card" style="display:none;">
            <div class="question-text"><p>{#markdown}{item.question}{/markdown}</p></div>
            <div class="answer-text" style="display:none;">{#markdown}{item.answer}{/markdown}</p></div>
            <div class="button-group">
                <button class="show-answer-btn">Voir la réponse</button>
                <button class="ok-btn" data-points="{item_index}" disabled>OK</button>
                <button class="error-btn" disabled>Error</button>
            </div>
        </div>
        {/for}

        <template id="already-answered-template">
            <div class="question-card">
                <div class="question-text">Vous avez déjà répondu à une question de ce module.</div>
                <div class="answer-text">
                    <strong>Niveau choisi :</strong> <span class="niveau"></span><br>
                    <strong>Points obtenus :</strong> <span class="points"></span>
                </div>
                <div class="button-group">
                    <button class="next-btn">Continuer vers le module suivant</button>
                </div>
            </div>
        </template>

    </main>
</div>