---
layout: default
---

<div class="main-layout">
    {#include partials/menu.html /}
    <main>


        <div class="levels-grid">
            {#for item in page.data.questions}
            <button class="level-btn" data-index="{item_index}" title="Révèle la question {item_index}" style="grid-column: {item_count.mod(5)};">
                Niveau {item_count}
            </button>
            {/for}
        </div>
        <div id="question-container" style="display:none;"></div>

        {#for item in page.data.questions}
        <div id="question-{item_index}" class="question-card" style="display:none;">
            <div class="question-text"><p>{#markdown}{item.question}{/markdown}</p></div>
            <div class="answer-text" style="display:none;">{#markdown}{item.answer.raw}{/markdown}</p></div>
            <div class="button-group">
                <button class="show-answer-btn">Voir la réponse</button>
                <button class="ok-btn" data-points="{item_index}" disabled>OK</button>
                <button class="error-btn" disabled>Error</button>
            </div>
        </div>
        {/for}
    </main>
</div>